<html>
	<div class="sliderContainer">
		<table>
			<tr>
				<td><label>Dataset:</label></td>
				<td><select id="datasetID">
					<option value="0" selected="selected">Medieval Modes</option>
					<option value="1">Lots of Modes</option>
					<option value="2">Random Modes</option>
				</select>
			</td></tr>
			<tr><td><label>Note Similarity</label></td><td><input id="noteSim" type="range" min="0" max="100" value="90" def="90" class="slider" /></td></tr>
			<tr><td><label>How bad is it to add notes?</label></td><td><input id="noteAdd" type="range" min="0" max="100" value="25" def="25" class="slider" /></td></tr>
			<tr><td><label>How bad is it to remove notes?</label></td><td><input id="noteRem" type="range" min="0" max="100" value="85" def="85" class="slider" /></td></tr>
			<tr><td><label>Root Inclusion Importance</label></td><td><input id="rootMissing" type="range" min="0" max="100" value="100" def="100" class="slider" /></td></tr>
			<tr><td><label>Root Offset Penalty</label></td><td><input id="rootOff" type="range" min="0" max="100" value="67" def="67" class="slider" /></td></tr>
			<tr><td><label>Mood Estimation</label></td><td><input id="moodEstim" type="range" min="0" max="100" value="100" def="100" class="slider" /></td></tr>
			<tr><td><label>Interval Counts</label></td><td><input id="iCount" type="range" min="0" max="100" value="25" def="25" class="slider" /></td></tr>
			<tr><td><label>Openness</label></td><td><input id="iOpen" type="range" min="0" max="100" value="25" def="25" class="slider" /></td></tr>
			<tr><td><label>Max Results</label></td><td><input id="filterResultMax" type="range" min="1" max="50" value="20" def="20" class="slider" /></td></tr>
		</table>
		<button id="setSlidersZero">Set to zero</button>
		<button id="setSlidersMid">Set to mid</button>
		<button id="setSlidersDefault">Set to default</button>
		<button id="setSlidersFull">Set to full!</button>
	</div>
</html>