<html>
    <!-- Button: Cancel -->
    <div class="rightAlignContents">
        <button id="cancelSettings" class="cool-button small-x">X</button>
    </div>
    
	<div class="sliderContainer" style="padding: 7px;">
	    <div style="background: #9540ef; border-radius: 10px; margin-top: 3px;">
	        <h3 style="padding: 0; margin: 0; text-align: center;">Note Comparisons:</h3>
            <table width="100%" cellpadding = "0" style="table-layout: fixed; padding: 2px 10px 0px 10px;">
                <colgroup>
                    <col width="40%" />
                </colgroup>
                <tr><td style = "text-indent: 10px;"><label>Shared notes</label>
                <!--<div id="showHide_0" style="font-size: 12px;">Blah blah blah blah blah blah blah<br />blah blah blah blah blah blah blah blah blah blah blah blah</div>-->
                </td><td>
                <span class="range-label left">Notes can be altered</span>
                <span class="range-label right">Notes should be the same</span>
                <input id="noteSim" type="range" min="0" max="100" value="75" def="75" class="slider" /></td></tr>

                <tr><td style = "text-indent: 10px;"><label>Enlarging scale <span style="font-size: 11px">(ex: 5 note scale to 8 note scale...)</span></label></td>
                <td>
                <span class="range-label left">Can add notes</span>
                <span class="range-label right">Penalty for extra notes</span>
                <input id="noteAdd" type="range" min="0" max="100" value="15" def="15" class="slider" /></td></tr>

                <tr><td style = "text-indent: 10px;"><label>Shrinking scale <span style="font-size: 11px">(ex: 7 note scale to 6 note scale...)</span></label></td>
                <td>
                <span class="range-label left">Can remove notes</span>
                <span class="range-label right">Penalty for removing notes</span>
                <input id="noteRem" type="range" min="0" max="100" value="70" def="70" class="slider" /></td></tr>
            </table>
        </div>

	    <div style="background: #d9b060; border-radius: 10px; margin-top: 3px;">
	        <h3 style="padding: 0; margin: 0; text-align: center;">Importance of Roots:</h3>
            <table width="100%" cellpadding = "0" style="table-layout: fixed; padding: 2px 10px 0px 10px;">
                <colgroup>
                    <col width="40%" />
                </colgroup>
                <tr><td style = "text-indent: 10px;"><label>Penalty for having different roots</label></td>
                <td>
                <span class="range-label left">No penalty</span>
                <span class="range-label right">Require same root</span>
                <input id="rootOff" type="range" min="0" max="100" value="25" def="25" class="slider" /></td></tr>

                <tr><td style = "text-indent: 10px;"><label>Penalty for not containing root</label></td>
                <td>
                <span class="range-label left">No penalty</span>
                <span class="range-label right">Require both roots</span>
                <input id="rootMissing" type="range" min="0" max="100" value="100" def="100" class="slider" /></td></tr>
            </table>
        </div>

	    <div style="background: #60d9b0; border-radius: 10px; margin-top: 3px;">
	        <h3 style="padding: 0; margin: 0; text-align: center;">Intervals:</h3>
            <table width="100%" cellpadding = "0" style="table-layout: fixed; padding: 2px 10px 0px 10px;">
                <colgroup>
                    <col width="40%" />
                </colgroup>
                <tr><td style = "text-indent: 10px;"><label>Interval statistics factor</label></td>
                <td>
                <span class="range-label left">Doesn't matter</span>
                <span class="range-label right">Does matter</span>
                <input id="iCount" type="range" min="0" max="100" value="25" def="25" class="slider" /></td></tr>

                <tr><td style = "text-indent: 10px;"><label>Openness factor</label></td>
                <td>
                <span class="range-label left">Doesn't matter</span>
                <span class="range-label right">Does matter</span>
                <input id="iOpen" type="range" min="0" max="100" value="15" def="15" class="slider" /></td></tr>
            </table>
        </div>

	    <div style="background: #60b0d9; border-radius: 10px; margin-top: 3px;">
	        <h3 style="padding: 0; margin: 0; text-align: center;">Mood Estimation:</h3>
            <table width="100%" cellpadding = "0" style="table-layout: fixed; padding: 2px 10px 0px 10px;">
                <colgroup>
                    <col width="40%" />
                </colgroup>
                <tr><td style = "text-indent: 10px;"><label>Mood - happiness</label></td>
                <td>
                <span class="range-label left">Doesn't matter</span>
                <span class="range-label right">Does matter</span>
                <input id="moodEstimHappy" type="range" min="0" max="100" value="90" def="90" class="slider" /></td></tr>

                <tr><td style = "text-indent: 10px;"><label>Mood - bittersweetness</label></td>
                <td>
                <span class="range-label left">Doesn't matter</span>
                <span class="range-label right">Does matter</span>
                <input id="moodEstimBittersweet" type="range" min="0" max="100" value="40" def="40" class="slider" /></td></tr>
            </table>
        </div>

        <div style="background: #ddd0d0; border-radius: 10px; margin-top: 3px;">
	        <h3 style="padding: 0; margin: 0; text-align: center;">Processing:</h3>
            <table width="100%" cellpadding = "0" style="table-layout: fixed; padding: 2px 10px 0px 10px;">
                <colgroup>
                    <col width="40%" />
                </colgroup>
                <tr>
                    <td style = "text-indent: 10px;"><label>Dataset:</label></td>
                    <td><select id="datasetID" value="1">
                        <option value="0">Medieval Modes</option>
                        <option value="1" selected="selected">Lots of Modes</option>
                        <option value="2">Random Modes</option>
                        <option value="3">Debug Data</option>
                    </select>
                </td></tr>

                <!--
                <tr><td style = "text-indent: 10px;"><label>Sharpness of settings</label></td>
                <td><span class="range-label left"><svg width="40" height="30"><path d="M0,30 C0,30  40,0  80,30" fill="#fff" stroke="#fff" stroke-width="1px" /></svg></span>
                <span class="range-label right"><svg width="40" height="30"><path d="M0,30 M40,30 C40,0  50,30  0,30" fill="#fff" stroke="#fff" stroke-width="1px" /></svg></span>
                <input id="noteSimSharpness" type="range" min="0" max="100" value="90" def="90" class="slider" /></td></tr>
                -->

                <tr><td style = "text-indent: 10px;"><label>Number of Results to Display</label></td><td><input id="filterResultMax" type="range" min="10" max="40" value="20" def="20" class="slider" /></td></tr>

            </table>
        </div>

	</div>

    <!-- Buttons to quickly change sliders -->
	<div class="centerContents">
        <button id="setSlidersZero" class="cool-button medium">Set sliders to zero</button>
        <button id="setSlidersMid" class="cool-button medium">Set sliders to middle</button>
        <button id="setSlidersDefault" class="cool-button medium">Set sliders to default</button>
        <button id="setSlidersFull" class="cool-button medium">Set sliders to full!</button>
        <button id="runFromSettings" class="cool-button large">Run analysis!</button>
    </div>

</html>
