<html>
	<!-- Add padding to separate from surrounding sections -->
	<div style="padding: 20px; text-align: left; text-indent: 20px;">
		<div style="background: #ddd0d0; border-radius: 20px -20px; padding: 15px;">

			<h2 style="font-weight: bold;">INSTRUCTIONS:</h2>
			<p>There's an ocean of weird modes (scales) out there and this app serves as a lighthouse, illuminating good ones for you to use.</p>
			<p>Simply select some notes you want to use. They can be all the notes of a melody or a chord progression. For best results, do this as soon as you start writing a new piece, and before you decide on every note. After you click the "Run Analysis" button, the app will crunch the numbers and display a graph showing suggestions.</p>
			<h3 style="font-weight: bold;">NOTES:</h3>
			<ul>
				<li>Click "Change input notes" to bring up the piano so you can select notes</li>
				<li>Select the root by clicking the yellow circles on the piano</li>
				<li>Click "Change algorithm settings" to change how the app determines similarity between modes</li>
			</ul>
			<br />

			

		</div>

		<div class="rightAlignContents" style="margin-top: 15px;">
			<button id="closeInstructions" class="cool-button large">Thanks!</button>
		</div>
	</div>
</html>
