<html>
    <!-- Add padding to separate from surrounding sections -->
    <div style="padding: 20px; text-align: left; text-indent: 20px;">
        <div style="background: #ddd0d0; border-radius: 20px -20px;">

            <br />
            <div style="font-weight: bold;">INSTRUCTIONS:</div>
            <ul>
                <li>Toggle notes on keyboard
                    <ul>
                        <li>Notes can represent melodies or chords you want to use</li>
                    </ul>
                </li>
                <li>Select root by clicking yellow circles above notes</li>
                <li>Use sliders on left to set how similarity function operates</li>
                <li>Select database of modes to compare against</li>
                <li>Run the algorithm and view the graph below!</li>
            </ul>
            <br />

        </div>
    </div>
</html>
