<html>
	<table style="width: 100%">
		<tr><td class="centered">
			<div class="pianoContainer">
				<div class="pianoContainerTop">
					<div class="centered piano-etched-text" style="padding-left: 20px; padding-top: 20px">Select root by clicking the yellow lights</div>
					<div class="centered piano-etched-text" style="padding-left: 20px; height: 20px">Try to only select important notes</div>

					<!-- Button: Cancel -->
					<div class="rightAlignContents" style="margin-top: -50px">
						<button id="cancelNoteSelect" class="cool-button small-x">X</button>
					</div>

					<!-- Vertical alignment -->
					<div style="height: 100%; display: flex; align-items: flex-end; justify-content: center; margin: -45px; padding: 0;">
						<!-- Root selection -->
						<table style="width: 435px;">
							<tr>
								<td class="rootSelect centerContents" value="0"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="1"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="2"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="3"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="4"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="5"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="6"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="7"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="8"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="9"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="10"><span class="rootCircle" value="false" /></td>
								<td class="rootSelect centerContents" value="11"><span class="rootCircle" value="false" /></td>
							</tr>
						</table>
					</div>

				</div>
				<table class="centered pianoTable" style="border-spacing: 0px !important; padding: 0 !important;">
					<tr>
						<!-- First 5 notes -->
						<td style="padding: 0; margin: -1px;">
							<!-- Upper part of notes -->
							<table class="centered pianoTable">
								<tr>
									<td value="0" class="pianoKey pianoWhite pianoTopSmall jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="1" class="pianoKey pianoBlack pianoTopMed jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="2" class="pianoKey pianoWhite pianoTopSmall jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="3" class="pianoKey pianoBlack pianoTopMed jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="4" class="pianoKey pianoWhite pianoTopSmall jitterKeySlow" style="width: 29px !important;" highlight="false" mouseover="false"></td>
								</tr>
							</table>

							<!-- Lower part of notes -->
							<table class="centered pianoTable">
								<tr>
									<td value="0" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="2" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="4" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
								</tr>
							</table>
						</td>

						<!-- Last 7 notes -->
						<td style="padding: 0; margin: -1px;">
							<!-- Upper part of notes -->
							<table class="centered pianoTable">
								<tr>
									<td value="5" class="pianoKey pianoWhite pianoTopExtraSmall jitterKeySlow" style="width: 27px !important;" highlight="false" mouseover="false"></td>
									<td value="6" class="pianoKey pianoBlack pianoTopMed jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="7" class="pianoKey pianoWhite pianoTopExtraSmall jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="8" class="pianoKey pianoBlack pianoTopMed jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="9" class="pianoKey pianoWhite pianoTopExtraSmall jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="10" class="pianoKey pianoBlack pianoTopMed jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="11" class="pianoKey pianoWhite pianoTopExtraSmall jitterKeySlow"  highlight="false" mouseover="false"></td>
								</tr>
							</table>

							<!-- Lower part of notes -->
							<table class="centered pianoTable">
								<tr>
									<td value="5" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="7" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="9" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
									<td value="11" class="pianoKey pianoWhite pianoBot jitterKeySlow"  highlight="false" mouseover="false"></td>
								</tr>
							</table>
						</td>

					</tr>
				</table>
			</div>

			<div style="margin-top: 11px">
				<div class="centered subheader">Add chords here:</div>
				<select id="chordInputRoot">
					<option value="0">C</option>
					<option value="1">Db</option>
					<option value="2">D</option>
					<option value="3">Eb</option>
					<option value="4">E</option>
					<option value="5">F</option>
					<option value="6">Gb</option>
					<option value="7">G</option>
					<option value="8">Ab</option>
					<option value="9">A</option>
					<option value="10">Bb</option>
					<option value="11">B</option>
				</select>
				<select id="chordInputType">
					<option value="47">Major</option>
					<option value="37">Minor</option>
					<option value="7">Power chord</option>
					<option value="67">Lydian</option>
					<option value="36">Diminished</option>
					<option value="48">Augmented</option>
					<option value="57">Sus4</option>
					<option value="579">Major 6</option>
					<option value="247">Major add 2</option>
					<option value="237">Minor add 2</option>
				</select>
				<select id="chordInputSeventh">
					<option value="">No 7th</option>
					<option value="B">Major 7</option>
					<option value="A">Minor 7</option>
				</select>
				<button id="addChord" class="cool-button medium">Add chord</button>
			</div>

		</td>
		<td class="centered">

			<div style="margin-top: 15px;">
				<table class="full">
					<!--<tr class="full centerContents">
						<td class="centerContents">
							<div class="centered subheader">Algorithm goal:</div>
							<select id="algorithmGoal" value="Look for similar notes and tone">
								<option value="notes">Look for similar notes</option>
								<option value="tone">Look for similar tone</option>
								<option value="notestone">Look for similar notes and tone</option>
								<option value="finish">Finish an incomplete scale</option>
								<option value="random">Just make a pretty graph</option>
								<option value="custom">(Custom settings)</option>
							</select>
						</td>
						<td class="centerContents">
							<div class="centered subheader">Name your scale:</div>
							<input id="scaleName" name="scaleName" type="text" value="Unknown Scale" />
						</td>
						
					</tr>-->
					<tr class="full centerContents">
						<td class="centerContents">
							<table class="full" style="font-size: 0.85em;">
								<tr class="inputHoverRow">
									<td><div class="full">How complete is your scale?</div></td>
									<td><input id="allowMoreNotes" type="range" min="0" max="100" value="67" def="67" class="slider" /></td>
								</tr>
								<tr class="inputHoverRow">
									<td><div class="full">Allow different roots?</div></td>
									<td><input id="allowDifferentRoots" type="range" min="0" max="100" value="51" def="51" class="slider" /></td>
								</tr>
								<tr class="inputHoverRow">
									<td><div class="full">Use mood approximation?</div></td>
									<td><input id="estimateMood" type="range" min="0" max="100" value="40" def="40" class="slider" /></td>
								</tr>
								<tr class="inputHoverRow">
									<td><div class="full">Display # of results</div></td>
									<td><input id="displayNumResults" type="range" min="0" max="100" value="33" def="33" class="slider" /></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<!-- Dataset -->
				<div class="full" colspan="3" style="-webkit-column-span: all; column-span: all;">
					<div class="centered subheader">Search these datasets:</div>
					<table class="full" style="font-size: 0.85em;">
						<tr class="inputHoverRow">
							<td><input id="chk_incl_0" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_0"><div class="bold full">Medieval / Church Modes</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_1" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_1"><div class="bold">Modified Medieval Modes</div><div class="indented italic fadedText"> (Harmonic minor, Lydian #9, Super Locrian...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_2" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_2"><div class="bold">Composer-ish... (needs new term)</div><div class="indented italic fadedText">(Double Harmonic Major, Prometheus Scale, Phrygian Dominant...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_3" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_3"><div class="bold">Blues and Bebop</div><div class="indented italic fadedText">(Minor Pentatonic, Major Bebop, Bebop Dorian...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_4" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_4"><div class="bold">Experimental</div><div class="indented italic fadedText">(Chromatic, Whole Tone...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_5" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_5"><div class="bold">World Traveller #1</div><div class="indented italic fadedText">(Hungarian Minor, Byzantine, Gypsy Minor...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_6" type="checkbox" checked/></td>
							<td>
								<label for="chk_incl_6"><div class="bold">World Traveller #2</div><div class="indented italic fadedText">(Hirajoshi, Pelog, Insen...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_7" type="checkbox" checked /></td>
							<td>
								<label for="chk_incl_7"><div class="bold">Two Chord Combos</div><div class="indented italic fadedText">(i - bvi, I - II7... common in film)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_8" type="checkbox" checked /></td>
							<td>
								<label for="chk_incl_8"><div class="bold">Famous Chords</div><div class="indented italic fadedText">(Elektra, Tristan, Scriabin...)</div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_9" type="checkbox" checked /></td>
							<td>
								<label for="chk_incl_9"><div class="bold">Film Themes</div><div class="indented italic fadedText"></div></label>
							</td>
						</tr>
						<tr class="inputHoverRow">
							<td><input id="chk_incl_10" type="checkbox" checked /></td>
							<td>
								<label for="chk_incl_10"><div class="bold">Personal List</div><div class="indented italic fadedText"></div></label>
							</td>
						</tr>
					</table>
				</div>
		</td></tr>
	</table>

	

		<!-- Buttons! -->
		<table class="full" style="table-layout: fixed;">
			<tbody style="width: 100%; display: table">
				<tr class="full rightAlignContents">
					<td class="centerContents">
						<button id="resetScale" class="cool-button large">Reset Piano</button>
					</td>
					<td class="centerContents">
						<button id="runFromPiano" class="cool-button large">Run analysis!</button>
					</td>
					
				</tr>
			</tbody>
		</table>
	
	</div>

</html>
