<html>
	<div class="pianoContainer">
		<div class="centered">
			<div class="pianoContainerTop">
				<div class="centered small-white-text">This piano was designed by a professional piano-designer and is on sale for the low price of $30,000</div>
			</div>
			<table class="centered pianoTable">
				<tr>
					<td value="0" class="pianoKey pianoWhite pianoTopSmall"  highlight="false"></td>
					<td value="1" class="pianoKey pianoBlack pianoTopMed"  highlight="false"></td>
					<td value="2" class="pianoKey pianoWhite pianoTopSmall"  highlight="false"></td>
					<td value="3" class="pianoKey pianoBlack pianoTopMed"  highlight="false"></td>
					<td value="4" class="pianoKey pianoWhite pianoTopSmall" style="width: 29px !important;" highlight="false"></td>
					<td value="5" class="pianoKey pianoWhite pianoTopExtraSmall" style="width: 27px !important;" highlight="false"></td>
					<td value="6" class="pianoKey pianoBlack pianoTopMed"  highlight="false"></td>
					<td value="7" class="pianoKey pianoWhite pianoTopExtraSmall"  highlight="false"></td>
					<td value="8" class="pianoKey pianoBlack pianoTopMed"  highlight="false"></td>
					<td value="9" class="pianoKey pianoWhite pianoTopExtraSmall"  highlight="false"></td>
					<td value="10" class="pianoKey pianoBlack pianoTopMed"  highlight="false"></td>
					<td value="11" class="pianoKey pianoWhite pianoTopExtraSmall"  highlight="false"></td>
				</tr>
			</table>
			<table class="centered pianoTable">
				<tr>
					<td value="0" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
					<td value="2" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
					<td value="4" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
					<td value="5" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
					<td value="7" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
					<td value="9" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
					<td value="11" class="pianoKey pianoWhite pianoBot"  highlight="false"></td>
				</tr>
			</table>
		</div>
	</div>
</html>