<html>
    <div class="pianoContainer">
		<div class="centered">
			<div class="pianoContainerTop">
				<div class="centered small-white-text">Select root by clicking the yellow lights</div>

				<!-- Vertical alignment -->
				<div style="height: 100%; display: flex; align-items: flex-end; justify-content: center; margin: -12px; padding: 0;">
					<!-- Root selection -->
					<table style="width: 435px;">
						<tr>
							<td class="rootSelect centerContents" value="0"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="1"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="2"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="3"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="4"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="5"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="6"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="7"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="8"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="9"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="10"><span class="rootCircle" value="false" /></td>
							<td class="rootSelect centerContents" value="11"><span class="rootCircle" value="false" /></td>
						</tr>
					</table>
				</div>

			</div>

			<!-- Upper part of notes -->
			<table class="centered pianoTable">
				<tr>
					<td value="0" class="pianoKey pianoWhite pianoTopSmall jitterKey"  highlight="false" mouseover="false"></td>
					<td value="1" class="pianoKey pianoBlack pianoTopMed jitterKey"  highlight="false" mouseover="false"></td>
					<td value="2" class="pianoKey pianoWhite pianoTopSmall jitterKey"  highlight="false" mouseover="false"></td>
					<td value="3" class="pianoKey pianoBlack pianoTopMed jitterKey"  highlight="false" mouseover="false"></td>
					<td value="4" class="pianoKey pianoWhite pianoTopSmall jitterKey" style="width: 29px !important;" highlight="false" mouseover="false"></td>
					<td value="5" class="pianoKey pianoWhite pianoTopExtraSmall jitterKey" style="width: 27px !important;" highlight="false" mouseover="false"></td>
					<td value="6" class="pianoKey pianoBlack pianoTopMed jitterKey"  highlight="false" mouseover="false"></td>
					<td value="7" class="pianoKey pianoWhite pianoTopExtraSmall jitterKey"  highlight="false" mouseover="false"></td>
					<td value="8" class="pianoKey pianoBlack pianoTopMed jitterKey"  highlight="false" mouseover="false"></td>
					<td value="9" class="pianoKey pianoWhite pianoTopExtraSmall jitterKey"  highlight="false" mouseover="false"></td>
					<td value="10" class="pianoKey pianoBlack pianoTopMed jitterKey"  highlight="false" mouseover="false"></td>
					<td value="11" class="pianoKey pianoWhite pianoTopExtraSmall jitterKey"  highlight="false" mouseover="false"></td>
				</tr>
			</table>

			<!-- Lower part of notes -->
			<table class="centered pianoTable">
				<tr>
					<td value="0" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
					<td value="2" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
					<td value="4" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
					<td value="5" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
					<td value="7" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
					<td value="9" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
					<td value="11" class="pianoKey pianoWhite pianoBot jitterKey"  highlight="false" mouseover="false"></td>
				</tr>
			</table>

		</div>
	</div>
</html>
