.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 47.5%;
	vertical-align: top;
	overflow: hidden;
	background: black;
}

.svg-content {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
}

.modal-window {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
	background-color: #000000;
	padding: 20px;
	border: 2px solid #888;
	border-radius: 10px;
}
.modal-content.modal-0 {
	margin: 15% auto; /* center it */
	width: auto;
	width: 500px !important; /* piano container is 500px wide */
}
.modal-content.modal-1 {
	margin: 4% auto; /* center it */
	width: auto;
	width: 850px !important; /* piano container is 500px wide */
}
.modal-content.modal-2 {
	margin: 4% auto; /* center it */
	width: auto;
	width: 700px !important; /* piano container is 500px wide */
}




.centerContents {
	text-align: center;
}

.rightAlignContents {
	display: flex;
	justify-content: flex-end;
}

.links line {
	stroke: #ff0;
	stroke-opacity: 1.0;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

.node-labels {
	font-size: 15px;
	font-weight: bold;
	pointer-events: "none";
	fill: #fff;
	/* Disable selection */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.centered {
	margin: auto;
}





input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.range-label {
	font-size: 9px;
}
.range-label.left {
	float: left;
}
.range-label.right {
	float: right;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
.cool-button {
	position: relative;
	z-index: 1;
	color: #dddddd;
	background: #3071a9;
	border-radius: 7%;
	border: 1.75px solid #010101;
	/* Set transition for box shadow */
	transition: box-shadow 200ms cubic-bezier(.2,0,.7,1), transform 150ms cubic-bezier(.2,0,.7,1);
}
.cool-button.small-x {
	width: 35px;
	height: 35px;
	font-size: 18px;
	font-weight: bold;
	margin: 0px 10px;
}
.cool-button.medium {
	width: 100px;
	height: 40px;
	font-size: 13px;
	margin: 0px 10px;
}
.cool-button.large {
	width: 120px;
	height: 50px;
	font-size: 17px;
	margin: 0px 2px 16px 16px; /* top, bottom, L/R */
}
.cool-button:hover {
	/*transform: rotate(45deg);*/
	color: #ffffff;
	background: #4081c9;
	box-shadow: 0 0 1px 5px rgba(64, 129, 201, 0.15),
		0 0 1px 12px rgba(64, 129, 201, 0.1),
		0 0 1px 21px rgba(64, 129, 201, 0.05);
}

.rootCircle {
	height: 20px;
	width: 20px;
	background: #444400;
	border-radius: 50%;
	display: inline-block;
	border: 1.75px solid #353530;
	/* Set transition for box shadow */
	transition: box-shadow 125ms cubic-bezier(.2,0,.7,1), transform 80ms cubic-bezier(.2,0,.7,1);
}
.rootCircle[value=true] {
	background: #bbbb22;
	border: 1.75px solid #707035;
	box-shadow: 0 0 1px 2px rgba(255, 255, 40, 0.1),
		0 0 1px 4px rgba(255, 255, 40, 0.067),
		0 0 1px 7px rgba(255, 255, 40, 0.033);
}
.rootCircle:hover,
.rootCircle[value=true]:hover {
	background: #cccc15;
	border: 1.75px solid #707035;
	box-shadow: 0 0 1px 3px rgba(255, 255, 40, 0.15),
		0 0 1px 5px rgba(255, 255, 40, 0.1),
		0 0 1px 8px rgba(255, 255, 40, 0.05);
}






.small-white-text {
	color: #dddddd;
	font-size: 8pt;
}

/* Style the button that is used to open and close the collapsible content */
.collapse-toggle-button {
	background-color: #fc0;
	color: #444;
	cursor: pointer;
	padding: 9px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapse-toggle-button:hover {
	background-color: #ff0;
}

.collapsible-input-area {
	margin: 0;
	padding: 0 18px;
	display: block;
	overflow: hidden;
	background-color: #f1f1f1;
}


.pianoContainer {
	width: 500px;
	height: 450px;
	background: #203720;
	align-content: center;
	border-right: 3px solid #405740;
	border-bottom: 3px solid #405740;
	border-radius: 0px 0px 4px 4px;
}

.pianoContainerTop {
	width: 100%;
	height: 100px;
	background: #304f30;
	border-right: 3px solid #506f50;
	border-bottom: 3px solid #506f50;
	border-radius: 0px 0px 4px 4px;
}

.pianoTable {
	background: #102710; /* darkness between keys */
	border-spacing: 2px 0px;
	border-collapse: separate;
}

/* White keys are divided into upper and lower sections */
.pianoWhite[highlight=false][mouseover=false] {
	background: #cccccc;
}

.pianoWhite[mouseover=true] {
	background: #3355ee !important;
}
.pianoWhite[highlight=true][mouseover=false] {
	background: #3071a9;
}

.pianoWhite.pianoBot {
	border-right: 3px solid #eeeeee;
	border-bottom: 3px solid #eeeeee;
	border-radius: 0px 0px 5px 5px;
}
.pianoWhite.pianoBot[mouseover=true] {
	border-right: 3px solid #5375ff !important;
	border-bottom: 3px solid #5375ff !important;
}
.pianoWhite.pianoBot[highlight=true][mouseover=false] {
	border-right: 3px solid #4081b9;
	border-bottom: 3px solid #4081b9;
}

.pianoWhite.pianoTopSmall,
.pianoWhite.pianoTopExtraSmall {
	border-right: 3px solid #eeeeee;
	border-radius: 3px 3px 0px 0px;
}
.pianoWhite.pianoTopSmall[mouseover=true],
.pianoWhite.pianoTopExtraSmall[mouseover=true] {
	border-right: 3px solid #5375ff !important;
}
.pianoWhite.pianoTopSmall[highlight=true][mouseover=false],
.pianoWhite.pianoTopExtraSmall[highlight=true][mouseover=false] {
	border-right: 3px solid #4081b9;
}

.pianoBlack {
	background: #202020;
	border-right: 3px solid #484848;
	border-bottom: 3px solid #484848;
	border-radius: 3px 3px 5px 5px;
}
.pianoBlack[mouseover=true] {
	background: #3355ee !important;
	border-right: 3px solid #5375ff !important;
	border-bottom: 3px solid #5375ff !important;
}
.pianoBlack[highlight=true][mouseover=false] {
	background: #3071a9;
	border-right: 3px solid #4081b9;
	border-bottom: 3px solid #4081b9;
}

.jitterKey {
	position: relative;
	left: 0px;
	top: 0px;
	animation-name: jitterTheKey;
	animation-duration: 0.34s;
	animation-iteration-count: 2;
}

@keyframes jitterTheKey {
	0% { left: 0px; top 0px; }
	15% { left: 3px; top -3px; }
	33% { left: -3px; top -5px; }
	66% { left: 3px; top 2px; }
	85% { left: -3px; top 6px; }
	100% { left: 0px; top 0px; }
}

.pianoTopSmall {
	padding: 0 !important;
	margin: 0 !important;
	width: 30px;
	height: 160px !important;
}

.pianoTopExtraSmall {
	padding: 0 !important;
	margin: 0 !important;
	width: 26px;
	height: 160px !important;
}

.pianoTopMed {
	padding: 0 !important;
	margin: 0 !important;
	width: 36px;
	height: 157px !important;
}

.pianoBot {
	padding: 0 !important;
	margin: 0 !important;
	width: 57px;
	height: 107px !important;
}
